* {
  box-sizing: border-box;
}
body {
  background: #28536c;
  display: flex;
  flex-direction: row;
  padding: 10px;
}
body,
button {
  font-family: 'Verdana Pro', sans-serif;
}
h1 {
  color: white;
  margin: 0 0 10px 0;
  padding: 10px 0;
}
#players {
  background: #367091;
  border-radius: 2px;
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}
#players > div {
  background: #359d68;
  border-radius: 2px;
  color: white;
  height: 140px;
  padding: 10px 20px;
  position: relative;
  text-align: center;
  width: 140px;
}
#players > div:not(:first-child) {
  margin-top: 10px;
}
#players > div:before {
  content: attr(data-name);
  font-size: 1.1em;
  font-weight: bold;
}
#players > div .icu {
  display: flex;
  position: absolute;
  top: 55px;
  left: 10px;
  width: calc(100% - 20px);
}
#players > div .icu .less:before {
  content: '-';
}
#players > div .icu .more:before {
  content: '+';
}
#players > div .icu .less,
#players > div .icu .more {
  background: #28774f;
  border-radius: 2px;
  color: ghostwhite;
  font-size: 1.7em;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  margin-top: 5px;
  width: 30px;
}
#players > div .icu .total {
  height: 40px;
  line-height: 40px;
  position: relative;
  top: -6px;
  width: 60px;
}
#players > div .icu .total:before {
  content: attr(data-total);
  font-size: 1.4em;
}
#players > div .icu .total:after {
  content: 'ICU';
  font-size: 0.8em;
  font-weight: 600;
  left: calc(50% - 13px);
  position: absolute;
  top: 16px;
}
#players > div .icu .less,
#players > div .icu .more,
#players > div .icu .total {
  flex-grow: 1;
}
#players > div .credit {
  bottom: 6px;
  font-size: 2em;
  font-weight: bold;
  position: absolute;
  width: calc(100% - 40px);
}
#players > div .credit:after {
  background: gold;
  border-radius: 6px;
  border-bottom: 2px solid darkgoldenrod;
  border-right: 1px solid darkgoldenrod;
  content: ' ';
  display: inline-block;
  height: 12px;
  left: 6px;
  position: relative;
  top: -10px;
  width: 12px;
}
#players > div .credit:before {
  content: attr(data-credit);
}
#players > div.selected {
  background: #dead9e;
  color: black;
}
#players > div.selected .less,
#players > div.selected .more {
  background: #d28d77;
  visibility: visible;
}
#right-pane {
  background: #367091;
  border-radius: 2px;
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  position: relative;
  width: 100%;
}
#right-pane > div {
  display: none;
  flex-direction: column;
}
#right-pane > div.selected {
  display: flex;
}
#right-pane > div .sub-pane {
  max-height: 570px;
  overflow-y: scroll;
}
#purchase-units #units {
  display: flex;
  flex-direction: column;
  height: 620px;
}
#purchase-units #units > div {
  display: flex;
  flex-direction: row;
  padding-top: 40px;
  position: relative;
}
#purchase-units #units > div:before {
  content: attr(data-title);
  font-size: 1.2em;
  font-weight: bold;
  position: absolute;
  text-transform: uppercase;
  top: 10px;
}
#purchase-units #units > div:not(:first-child) {
  margin-top: 10px;
}
#purchase-units #units > div .unit {
  background: #448cb6;
  color: white;
  border-radius: 2px;
  height: 140px;
  padding: 10px 10px;
  position: relative;
  text-align: center;
  width: 140px;
}
#purchase-units #units > div .unit:not(:first-child) {
  margin-left: 15px;
}
#purchase-units #units > div .unit:before {
  content: attr(data-name);
  font-weight: bold;
}
#purchase-units #units > div .unit .tally {
  display: flex;
  position: absolute;
  top: 60px;
  left: 10px;
  width: calc(100% - 20px);
}
#purchase-units #units > div .unit .tally .less:before {
  content: '-';
}
#purchase-units #units > div .unit .tally .more:before {
  content: '+';
}
#purchase-units #units > div .unit .tally .less,
#purchase-units #units > div .unit .tally .more {
  background: #367091;
  border-radius: 2px;
  color: ghostwhite;
  font-size: 1.7em;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  width: 30px;
}
#purchase-units #units > div .unit .tally .total {
  font-size: 1.3em;
  height: 40px;
  line-height: 40px;
  position: relative;
  top: -6px;
  width: 60px;
}
#purchase-units #units > div .unit .tally .total:before {
  content: attr(data-total);
  font-size: 1.4em;
}
#purchase-units #units > div .unit .tally .less,
#purchase-units #units > div .unit .tally .more,
#purchase-units #units > div .unit .tally .total {
  flex-grow: 1;
}
#purchase-units #units > div .unit.too-expensive {
  background: #666;
  color: #808080;
}
#purchase-units #units > div .unit.too-expensive .less,
#purchase-units #units > div .unit.too-expensive .more {
  background: #4d4d4d;
}
#purchase-units #units > div .unit.purchased {
  background: #dead9e;
  color: #84412c;
}
#purchase-units #units > div .unit.purchased .less,
#purchase-units #units > div .unit.purchased .more {
  background: #d28d77;
}
#purchase-units #units > div .unit .cost {
  bottom: 10px;
  font-size: 1.4em;
  font-weight: bold;
  position: absolute;
  width: calc(100% - 20px);
}
#purchase-units #units > div .unit .cost:after {
  background: gold;
  border-radius: 4px;
  border-bottom: 2px solid darkgoldenrod;
  border-right: 1px solid darkgoldenrod;
  content: ' ';
  display: inline-block;
  height: 8px;
  left: 4px;
  position: relative;
  top: -6px;
  width: 8px;
}
#purchase-units #units > div .unit .cost:before {
  content: attr(data-cost);
}
#purchase-units #cost {
  color: white;
  display: inline-block;
  font-size: 2em;
  height: 70px;
  line-height: 70px;
  padding: 0 20px 0 10px;
}
#purchase-units #cost:before {
  content: 'Cost:';
}
#purchase-units #cost:after {
  content: attr(data-cost);
  display: inline-block;
  text-align: right;
  width: 80px;
}
#combat-moves {
  display: none;
}
#combat-moves #territories > div {
  background: #448cb6;
  color: white;
  display: inline-block;
  font-size: 1.5em;
  height: 50px;
  line-height: 50px;
  margin-right: 5px;
  padding: 0 25px;
}
#combat-moves #territories > div:not(:first-child) {
  margin-top: 10px;
}
#combat-moves #territories > div:after {
  content: attr(data-name);
}
#combat-moves #territories > div.occupied {
  background: #dead9e;
  color: #84412c;
}
#combat-moves #territories > div.hidden {
  display: none;
}
.actions {
  background: #367091;
  bottom: 10px;
  padding: 10px;
  position: absolute;
  right: 10px;
}
.actions button {
  background: #66a3c7;
  border: none;
  color: white;
  border-radius: 2px;
  float: right;
  font-size: 1.5em;
  font-weight: bold;
  height: 70px;
  line-height: 70px;
  margin-left: 10px;
  padding: 0 25px;
}
.actions button.secondary {
  background: none;
  border: 2px solid #66a3c7;
  color: #66a3c7;
}
.disabled {
  background: grey;
  opacity: 0.2;
}
