@colour1: #28536c;
@colour2: #aa8c39;
@colour3: #aa5439;
@colour4: #28774f;
@colour5: #666;

@pageBG: @colour1;
@sectionBG: lighten(@colour1, 10%);
@sectionComponentBG: lighten(@sectionBG, 10%);
@highlightedSectionComponentBG: lighten(@colour3, 30%);
@disabledSectionComponentBG: @colour5;

@playerBG: lighten(@colour4, 10%);
@selectedPlayerBG: lighten(@colour3, 30%);

@unitBG: @sectionComponentBG;
@purchasedUnitBG: @highlightedSectionComponentBG;
@tooExpensiveBG: @disabledSectionComponentBG;

@territoryBG: @sectionComponentBG;
@occupiedTerritoryBG: @highlightedSectionComponentBG;

@actionBG: lighten(@colour1, 30%);

@section: { background: @sectionBG; border-radius: 2px; color: white; padding: 10px; };

*
{
	box-sizing: border-box;
}

body
{
	background:     @pageBG;
	display:        flex;
	flex-direction: row;
	padding:        10px;
}

body,
button
{
	font-family: 'Verdana Pro', sans-serif;
}

h1
{
	color:   white;
	margin:  0 0 10px 0;
	padding: 10px 0;
}

#players
{
	@section();
	display:        flex;
	flex-direction: column;
	margin-right:   10px;

	> div
	{
		background:    @playerBG;
		border-radius: 2px;
		color:         white;
		height:        140px;
		padding:       10px 20px;
		position:      relative;
		text-align:    center;
		width:         140px;

		&:not(:first-child)
		{
			margin-top: 10px;
		}

		&:before
		{
			content:     attr(data-name);
			font-size:   1.1em;
			font-weight: bold;
		}

		.icu
		{
			display:  flex;
			position: absolute;
			top:      55px;
			left:     10px;
			width:    ~'calc(100% - 20px)';

			.less
			{
				&:before
				{
					content: '-';
				}
			}

			.more
			{
				&:before
				{
					content: '+';
				}
			}

			.less,
			.more
			{
				background:    darken(@playerBG, 10%);
				border-radius: 2px;
				color:         ghostwhite;
				font-size:     1.7em;
				font-weight:   bold;
				height:        30px;
				line-height:   30px;
				margin-top:    5px;
				//visibility:    hidden;
				width:         30px;
			}

			.total
			{
				height:      40px;
				line-height: 40px;
				position:    relative;
				top:         -6px;
				width:       60px;

				&:before
				{
					content:   attr(data-total);
					font-size: 1.4em;
				}

				&:after
				{
					content:     'ICU';
					font-size:   0.8em;
					font-weight: 600;
					left:        ~'calc(50% - 13px)';
					position:    absolute;
					top:         16px;
				}
			}

			.less,
			.more,
			.total
			{
				flex-grow: 1;
			}
		}

		.credit
		{
			.addCoinMarker(12px);
			bottom:      6px;
			font-size:   2em;
			font-weight: bold;
			position:    absolute;
			width:       ~'calc(100% - 40px)';

			&:before
			{
				content: attr(data-credit);
			}
		}

		&.selected
		{
			background: @selectedPlayerBG;
			color:      black;

			.less,
			.more
			{
				background: darken(@selectedPlayerBG, 10%);
				visibility: visible;
			}
		}
	}
}

#right-pane
{
	@section();
	display:        flex;
	flex-direction: column;
	padding-left:   20px;
	position:       relative;
	width:          100%;

	> div
	{
		display:        none;
		flex-direction: column;

		&.selected
		{
			display: flex;
		}

		.sub-pane
		{
			max-height: 570px;
			overflow-y: scroll;
		}
	}
}

#purchase-units
{
	#units
	{
		display:        flex;
		flex-direction: column;
		height:         620px;

		> div
		{
			display:        flex;
			flex-direction: row;
			padding-top:    40px;
			position:       relative;

			&:before
			{
				content:        attr(data-title);
				font-size:      1.2em;
				font-weight:    bold;
				position:       absolute;
				text-transform: uppercase;
				top:            10px;
			}

			&:not(:first-child)
			{
				margin-top: 10px;
			}

			.unit
			{
				background:    @unitBG;
				color:         white;
				border-radius: 2px;
				height:        140px;
				padding:       10px 10px;
				position:      relative;
				text-align:    center;
				width:         140px;

				&:not(:first-child)
				{
					margin-left: 15px;
				}

				&:before
				{
					content:     attr(data-name);
					font-weight: bold;
				}

				.tally
				{
					display:  flex;
					position: absolute;
					top:      60px;
					left:     10px;
					width:    ~'calc(100% - 20px)';

					.less
					{
						&:before
						{
							content: '-';
						}
					}

					.more
					{
						&:before
						{
							content: '+';
						}
					}

					.less,
					.more
					{
						background:    darken(@unitBG, 10%);
						border-radius: 2px;
						color:         ghostwhite;
						font-size:     1.7em;
						font-weight:   bold;
						height:        30px;
						line-height:   30px;
						//margin-top:    5px;
						width:         30px;
					}

					.total
					{
						font-size:   1.3em;
						height:      40px;
						line-height: 40px;
						position:    relative;
						top:         -6px;
						width:       60px;

						&:before
						{
							content:   attr(data-total);
							font-size: 1.4em;
						}
					}

					.less,
					.more,
					.total
					{
						flex-grow: 1;
					}
				}

				&.too-expensive
				{
					background: @tooExpensiveBG;
					color:      lighten(@tooExpensiveBG, 10%);

					.less,
					.more
					{
						background: darken(@tooExpensiveBG, 10%);
					}
				}

				&.purchased
				{
					background: @purchasedUnitBG;
					color:      darken(@purchasedUnitBG, 40%);

					.less,
					.more
					{
						background: darken(@purchasedUnitBG, 10%);
					}
				}

				.cost
				{
					.addCoinMarker(8px);
					bottom:      10px;
					font-size:   1.4em;
					font-weight: bold;
					position:    absolute;
					width:       ~'calc(100% - 20px)';

					&:before
					{
						content: attr(data-cost);
					}
				}
			}
		}
	}

	#cost
	{
		color:       white;
		display:     inline-block;
		font-size:   2em;
		height:      70px;
		line-height: 70px;
		padding:     0 20px 0 10px;

		&:before
		{
			content: 'Cost:';
		}

		&:after
		{
			content:    attr(data-cost);
			display:    inline-block;
			text-align: right;
			width:      80px;
		}
	}
}

#combat-moves
{
	display: none;

	#territories
	{
		> div
		{
			background:   @territoryBG;
			color:        white;
			display:      inline-block;
			font-size:    1.5em;
			height:       50px;
			line-height:  50px;
			margin-right: 5px;
			padding:      0 25px;

			&:not(:first-child)
			{
				margin-top: 10px;
			}

			&:after
			{
				content: attr(data-name);
			}

			&.occupied
			{
				background: @occupiedTerritoryBG;
				color:      darken(@occupiedTerritoryBG, 40%);
			}

			&.hidden
			{
				display: none;
			}
		}
	}
}

.actions
{
	background: @sectionBG;
	bottom:     10px;
	padding:    10px;
	position:   absolute;
	right:      10px;

	button
	{
		background:    @actionBG;
		border:        none;
		color:         white;
		border-radius: 2px;
		float:         right;
		font-size:     1.5em;
		font-weight:   bold;
		height:        70px;
		line-height:   70px;
		margin-left:   10px;
		padding:       0 25px;

		&.secondary
		{
			background: none;
			border:     2px solid @actionBG;
			color:      @actionBG;
		}
	}
}

.addCoinMarker(@size) {
	&:after
	{
		background:    gold;
		border-radius: @size / 2;
		border-bottom: 2px solid darkgoldenrod;
		border-right:  1px solid darkgoldenrod;
		content:       ' ';
		display:       inline-block;
		height:        @size;
		left:          @size / 2;
		position:      relative;
		top:           -@size + 2px;
		width:         @size;
	}
}

.disabled
{
	background: grey;
	opacity:    0.2;
}
